<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--加载数据源连接池 JDBC-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"/>
    </bean>
    <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc_driver}"/>
        <property name="url" value="${jdbc_url}"/>
        <property name="username" value="${jdbc_name}"/>
        <property name="password" value="${jdbc_pwd}"/>
    </bean>
    <bean name="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">

        <property name="configLocation" value="classpath:mybatis.xml"/><!--加载mybatis配置文件-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/><!--配置映射文件-->
        <property name="typeAliasesPackage" value="com.zx.pojo"/><!--取别名-->
        <property name="dataSource" ref="dataSource"/>

    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--将所有包下的 dao 全部接口加载进来-->
        <property name="basePackage" value="com.zx.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSession"/>
    </bean>
<!--事务管理-->
    <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*"/>
            <tx:method name="save*"/>
            <tx:method name="insert*"/>
            <tx:method name="modify*"/>
            <tx:method name="update*"/>
            <tx:method name="del*"/>
            <tx:method name="delete*"/>
            <tx:method name="query*" propagation="NOT_SUPPORTED"/>
            <tx:method name="select*" propagation="NOT_SUPPORTED"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="pointct" expression="execution(* com.zx.service..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointct"/>
    </aop:config>

</beans>